body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: auto 20px;
    height: 2000px;
}

.header-logo {
    font-size: 75px;
    font-weight: 900;
    display: block;
    margin: auto;
}

.header-inner {
    display: flex;
}

.header-title {
    font-size: 75px;
    line-height: 89.2%;
    font-weight: 300;
    width: 978px;
    margin-top: 250px;
    margin-bottom: 35px;
}

.header-btn a{
    font-size: 40px;
    font-weight: 800;
    padding: 5px 10px;
    background-color: #fff;
    text-decoration: none;
    color: #000000;
    border-radius: 15px;
    border: 6px #000000 solid;
}

.header-btn a:hover {
    background-color: #9999ff;
}

.iphone1 {
    width: 197px;
    height: 400px;
    position: absolute;
    z-index: 2;
    right: 400px;
    margin-top: 15px;
}
.iphone2 {
    width: 370px;
    height: 439px;
    position: absolute;
    z-index: 1;
    right: 441px;
}

.link {
    font-size: 40px;
    color: blue;
    text-decoration: none;
    position: fixed;

}
.link:hover {
    color: red;
}
.top {
    background-color: #9999ff;
    display: flex;
}
